body{
    background-color: blue;
 }   
img{
    width: 300px;
    height: 300px;
}
#myName{
    font-size:x-large;
}
#localPlace{
    color : beige;
}
#introduce{
    font-size:x-small;
}
ol{
    font-size: 20px;
    color: gold;
    display:flex;
    flex-direction: column;
}
button{
    background-color: black;
    cursor: pointer;
    width: 250px;
    height:100px;
}
button:hover{
    background-color: white;
}
a {color: #fff; text-decoration: none; outline: none}
#pictureBox{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
}
#container{
    display: flex;
    flex-direction: row;
}